<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<link href="css/form.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    {% if success is not defined or not success %}
        <form action="reset_password" method="post" name="password_reset" class="form-signin">
            <h2 class="form-signin-heading">Reset Password</h2>
            <input name="username" type="text" class="input-block-level" placeholder="User name">
            <input name="email_address" type="text" class="input-block-level" placeholder="Email address">
            <button class="btn btn-large btn-danger" type="submit">Reset Password</button>
            <a class="btn btn-default" href="login" role="button">Login</a>
            <a class="btn btn-default" href="register" role="button">Register</a>
            {% if success is defined %}
                <span>* {{ errMessage }}</span>
            {% endif %}
        </form>
    {% else %}
        Please check your email.
    {% endif %}
    </div>
</body>
</html>
