<!DOCTYPE html>
<html lang="en" data-ng-app="SimpleAddress">
<head>
    <meta charset="utf-8">
    <title>Simple Address</title>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/responsive-nav.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"> </script>
    <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="js/responsive-nav.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body data-ng-controller="AddressListCtrl">
    <nav class="nav-collapse">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div id="mainwrapper">
        <header>
            <h1>SimpleAddress</h1>
        </header>
        <div class="contentwrapper">
            <div class="col-group">
          		<section id="stuff">
                    <h2>Your Addresses</h2>
                    <input type="text" data-ng-model="search" placeholder="Search" data-ng-change="filter()" /><br/>
                    <div id="mainAddress">
                        <div data-ng-repeat="address in filtered = (addresses | filter:mySearch) | orderBy:['last_name','first_name'] | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <div ng-if="!address.street_2" tooltip-placement="bottom" tooltip-html-unsafe="{{"{{"}}address.street_1{{"}}"}}<br>{{"{{"}}address.city{{"}}"}}, {{"{{"}}address.state{{"}}"}} {{"{{"}}address.zip{{"}}"}}" tooltip-append-to-body="true">{{"{{"}}address.first_name{{"}}"}} {{"{{"}}address.last_name{{"}}"}}</div>
                            <div ng-if="!!address.street_2" tooltip-placement="bottom" tooltip-html-unsafe="{{"{{"}}address.street_1{{"}}"}}<br>{{"{{"}}address.street_2{{"}}"}}<br>{{"{{"}}address.city{{"}}"}}, {{"{{"}}address.state{{"}}"}} {{"{{"}}address.zip{{"}}"}}" tooltip-append-to-body="true">{{"{{"}}address.first_name{{"}}"}} {{"{{"}}address.last_name{{"}}"}}</div>
                            <div><button class="btn btn-primary" ng-click="open(address)">Edit</button></div>
                            <div><button class="btn btn-warning" ng-click="remove(address)">Delete</button></div>
                        </div>
                    </div>
                    <pagination data-boundary-links="true" data-max-size="maxSize" data-total-items="totalItems" data-num-pages="noOfPages" data-page="currentPage" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
                </section>
                <aside>
                    <h2>Add a New Address</h2>
                    {% for field in address_fields %}
                    {% if field.fieldType == "" %}
                    <div class="row">
                        <div class="span3">
                            <input type="text" placeholder="{{ field.placeholder }}" ng-model="newaddress.{{field.name}}" name="{{field.name}}" size="30" ng:required />
                        </div>
                    </div>
                    <!-- For now, only empty of checkBox -->
                    {% else %}
                    <div class="row">
                        <div class="span3">
                            {{ field.placeholder }} <input type="checkbox" ng-model="newaddress.{{field.name}}" name="{{field.name}}">
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button class="btn btn-primary" ng-click="create()">Create Address</button>
                </aside>
        	</div>
            <div>
                <script type="text/ng-template" id="editContent.html">
                    <div class="modal-header">
                        <h3>Edit address</h3>
                    </div>
                    <div class="modal-body">
                        {% for field in address_fields %}
                        {% if field.fieldType == "" %}
                        <div class="row">
                            <div class="span2">
                                <input type="text" placeholder="{{ field.placeholder }}" ng-model="address.{{field.name}}" name="{{field.name}}" size="30" ng:required />
                            </div>
                        </div>
                        <!-- For now, only empty of checkBox -->
                        {% else %}
                        <div class="row">
                            <div class="span2">
                                {{ field.placeholder }} <input type="checkbox" ng-model="address.{{field.name}}" name="{{field.name}}">
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
                <script type="text/ng-template" id="removeDialog.html">
                    <div class="modal-header">
                        <h3>Delete</h3>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this address?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <script>
        var nav = responsiveNav(".nav-collapse");
    </script>
</body>
</html>