<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<link href="css/form.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="login" method="post" name="Login" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input name="username" type="text" class="input-block-level" placeholder="User name">
            <input name="password" type="password" class="input-block-level" placeholder="Password">
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            <a class="btn btn-default" href="register" role="button">Register</a>
            <a class="btn btn-default" href="reset_password" role="button">Reset Password</a>
            {% if errMessage is defined %}
                <span>* {{ errMessage }}</span>
            {% endif %}
        </form>
    </div>
</body>
</html>
