*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font:1em helvetica, arial, sans-serif;
}

h1
{
    text-align: center;
}

header
{
    padding: 5px 10px;
    margin: 10px;
}

input
{
    box-sizing: content-box;
}

.contentwrapper {
    margin-bottom: 1em;
    overflow: hidden;
}

.col-group > section, aside {
  padding: 1em;
  margin-bottom: 1em;  
}

@media screen and (min-width: 44em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > section, aside {
    float: left;
    width: 50%;
  }
}

#mainwrapper
{
    margin: 0 auto;
}

#addressTable td
{
    padding: 5px 0 0 5px;
}

#mainAddress {
    display: table;
}

#mainAddress > div {
    display: table-row;
}

#mainAddress > div div {
    display: table-cell;
    padding: 5px;
}